<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chengbing.dao.NewSmsDownloadZhMapper">

    <select id="selectRandom" resultType="org.chengbing.entity.NewSmsDownloadZh">
        select * from new_sms_download_zh order by rand() limit 0, 1
    </select>
</mapper>
